body{
	
	background-image: url(1.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	
}

form{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top:20xp;
	border-radius: 7px;
	
	
}
h1{
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.4);
	margin: 0;
	font-size: 30xp;
	margin-bottom: 20px;

	
}
h2{
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 30xp;
	margin-bottom: 20px;
	
}
 input, textarea {
	 width: 100%;
	 margin-bottom: 20px;
	 padding: 7ps;
	 box-sizing: border-box;
	 font-size: 17px;
	 border: none;
 }
 textarea{
	 min-height: 100px;
	 max-height: 200px;
	 max-width: 100%;
	 
 }
#boton{
	background: #31384A;
	color: #fff;
	padding: 20px;
	
}
#boton:hover {
	cursor: pointer;
}
@media (max-width:480px){
	form{
		width: 100%;
}
video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	
}